<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445825456683-ck1fam3t97r2audrvo4o6ik1vf574eo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445825456683-ck1fam3t97r2audrvo4o6ik1vf574eo3</string>
	<key>API_KEY</key>
	<string>AIzaSyC1j_0hVMON3RhbhSrldixbZBP5gb-ajeI</string>
	<key>GCM_SENDER_ID</key>
	<string>445825456683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.aula</string>
	<key>PROJECT_ID</key>
	<string>appcurso-f2154</string>
	<key>STORAGE_BUCKET</key>
	<string>appcurso-f2154.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445825456683:ios:482fd5eca497cb98e5a86e</string>
</dict>
</plist>